# Add custom values
SITE_NAME="Ecwid Store"
COMPANY_NAME="Ecwid by Lightspeed."
TWITTER_CREATOR="@ecwid"
TWITTER_SITE="https://ecwid.com"

# Your Store ID: https://support.ecwid.com/hc/en-us/articles/207806465-Where-is-my-Store-ID
ECWID_STORE_ID=""

# We recommend using a public token. How you can get it: https://api-docs.ecwid.com/reference/customizations-for-a-single-store
ECWID_API_KEY=""

# Provide Ecwid team (https://developers.ecwid.com/contact) with webhook URL and webhook events to set for your application:
# category.created, category.deleted, category.updated, product.created, product.deleted, product.updated, profile.updated
# and custom HTTP header "X-Ecwid-Revalidation-Secret" with value of your revalidation secret
ECWID_REVALIDATION_SECRET=""
